name: 合并结果文件
on:
  workflow_dispatch:
  
  schedule:
    - cron: "0 0 */7 * *"

jobs:
  merge_results:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout 代码库
        uses: actions/checkout@v3

      - name: 设置 Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.X'

      - name: 安装依赖
        run: npm install

      - name: 检查结果目录
        run: |
          if [ ! -d "result" ]; then
            mkdir result
          fi

      - name: 合并结果文件
        continue-on-error: true
        run: |
          node mergeResults.js
          cp -r data/. result/
          cd result
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git diff-index --quiet HEAD || git commit -m "Add merged result files" && git push || echo "No changes to commit and push."

      - name: 清空数据目录
        run: |
          if [ -z "$(git status --porcelain)" ]; then
            rm -rf data/*
          fi
